STORAGE_MODULE_LINK = ''  # сюда вставить адрес модуля, который отвечает за загрузку пикчи
BOT_MODULE_LINK = '' # сюда вставить адрес модуля бота
TOKEN = ''  # сюда вставить токен, который приходит с запросом от бота
DATABASE_URL =
secret = 'SECRET'